<script src="/engrave/index.js"></script>
<link rel="stylesheet" href="/css/site_engrave.css" />
<div id="divHeader"></div>

<div id="divPrintQueue">
    <h2>Queue</h2>
    <table class="table table-striped">
        <thead>
        <th width="30%">Sales Order</th>
        <th>Description</th>
        <th width="64px"></th>
        </thead>
        <tbody id="tabPrintQueue"></tbody>
        <tfoot></tfoot>
    </table>
    <img id="imgLoadingQueue" src="/img/spinner-small.gif" />
</div>

<div id="divPrint">
    <h2>Print/Engrave</h2>
    <table class="table table-striped">
        <thead>
        <th width="30%">Name</th>
        <th>Description</th>
        <th width="64px"></th>
        </thead>
        <tbody id="tabPrintList"></tbody>
        <tfoot></tfoot>
    </table>
    <img id="imgLoading" src="/img/spinner-small.gif" />
</div>

<div id="divHiddenPdfPrinter" style="display: none;">
    <iframe id="iHiddenPdfPrinter" href="">
    </iframe>
</div>

<div id="modalOnWait" class="modal fade" role="dialog">
    <div class="modal-dialog" >
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Generating print documents</h4>
            </div>
            <div id="divModalOnWaitBody" class="modal-body">
                <p>Please wait...</p>
                <img src="/img/spinner-small.gif" />
            </div>
        </div>
    </div>
</div>