﻿@{
    ViewData["Title"] = "403 Forbidden";
}

@model ErrorPageViewModel

<div class="jumbotron">
    <h1>@ViewData["Title"] :(</h1>
    @if (Model?.Message == null) {
        <p class="lead text-danger">You do not have appropriate permission to access this page</p>
        <p>Please contact UMD if you believe this is a mistake.</p>
    }
    else {
        <p>@Model.Message</p>
    }
    <br />
    @if (Model?.ReturnLink != null) {
        <a href="@Model.ReturnLink" class="btn btn-default btn-large">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> @Model?.ReturnLinkText
        </a>
    }
</div>
