﻿@{
    ViewData["Title"] = "400 - Bad Request";
}

@model ErrorPageViewModel

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
    <p class="lead">@(Model?.Message ?? "The request was invalid or malformed, please try again.")</p>
    <br />
    @if (Model?.ReturnLink != null) {
        <a href="@Model.ReturnLink" class="btn btn-default btn-large">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> @Model?.ReturnLinkText
        </a>
    }
</div>
