﻿@{
    ViewData["Title"] = "Error";
}

@model ErrorPageViewModel

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
    @if (Model?.Message == null) {
        <p class="lead">An error occurred while processing your request.</p>
        <p class="lead">We're working on a fix.</p>
    }
    else {
        <p>@Model.Message</p>
    }
    <br />
    @if (Model?.ReturnLink != null) {
        <a href="@Model.ReturnLink" class="btn btn-default btn-large">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> @Model?.ReturnLinkText
        </a>
    }
</div>

@*

    <p>Error info:</p>

    @using Microsoft.AspNetCore.Diagnostics;

    @{
        var error = Context.GetFeature<IErrorHandlerFeature>()));
        string errorMessage = null;
        if (error != ) {
            // This error would not normally be exposed to the client
            errorMessage = error.Error.Message;
        }
    }

    <p>@(errorMessage ?? "No error message.")</p>

*@