﻿@{
    ViewData["Title"] = "404 - Page Not Found";
}

@model ErrorPageViewModel

<div class="jumbotron">
    <h1>@ViewData["Title"]</h1>
    <p class="lead">@(Model?.Message ?? "The page specified could not be found.")</p>
    <br />
    @if (Model?.ReturnLink != null) {
        <a href="@Model.ReturnLink" class="btn btn-default btn-large">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> @Model?.ReturnLinkText
        </a>
    }
</div>
