<script src="/index.js"></script>

<div id="divMakeQueue">
    <h2>Queue</h2>
    <table class="table table-striped">
        <thead>
        <th width="30%">Sales Order</th>
        <th>Description</th>
        <th width="64px"></th>
        </thead>
        <tbody id="tabMakeQueue"></tbody>
        <tfoot></tfoot>
    </table>
    <img id="imgLoadingQueue" src="/img/spinner-small.gif" />
</div>

<div id="divMake">
    <h2>Make Device</h2>
    <table class="table table-striped">
        <thead>
        <th width="30%">Name</th>
        <th>Description</th>
        <th width="64px"></th>
        </thead>
        <tbody id="tabMakeList"></tbody>
        <tfoot></tfoot>
    </table>
    <img id="imgLoading" src="/img/spinner-small.gif" />
</div>

<div id="divDevices">
    <h2>Check In Log (Last 20)</h2>
    <table class="table table-striped">
        <thead>
        <th>Time</th>
        <th>IP Address</th>
        <th>Part Number</th>
        <th>Notes</th>
        </thead>
        <tbody id="tabDeviceList"></tbody>
        <tfoot></tfoot>
    </table>
    <img id="imgLoadingDevices" src="/img/spinner-small.gif" />
    <a class="btn btn-default btn-large" href="/log/devices.csv">
        <img src="/icons/csv.png" height="32px"/>&nbsp;&nbsp;Download
    </a>
</div>