<script src="/make/index.js"></script>

<div id="divHeader"></div>

<div id="divConsole"
     style="font-family: 'Courier New';
     background-color: black;
     color: greenyellow;
     white-space: pre-wrap;
     padding-bottom: 32px">
</div>
<div id="divConsoleUserInput">
    <input id="inpConsoleUserInput" type="text"
           style="font-family: 'Courier New';
            background-color: black;
            color: greenyellow;
            width: calc(100% - 80px);" />
    <button id="btnConsoleUserInput" type="button" style="height: 20px; width: 74px;" onclick="send()">Send</button>
</div>

<div id="divFooter">
    <img src="/img/spinner-small.gif" />
</div>

<script type="application/javascript">
    load_console();
</script>