﻿@using System.Security.Principal
@using Chariot.Web.Helpers
@using System.Security.Claims
@using Chariot.Web.Constants
@inject  IOptions<AppSettings> settings

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - @settings.Value.SiteTitle</title>

    <environment names="Development">
        <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css" />
        <link rel="stylesheet" href="/lib/bootstrap-touch-carousel/css/bootstrap-touch-carousel.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/css/bootstrap.min.css"
              asp-fallback-href="/lib/bootstrap/css/bootstrap.min.css"
              asp-fallback-test-class="hidden" asp-fallback-test-property="visibility" asp-fallback-test-value="hidden" />
        <link rel="stylesheet" href="//ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/css/bootstrap-touch-carousel.css"
              asp-fallback-href="/lib/bootstrap-touch-carousel/css/bootstrap-touch-carousel.css"
              asp-fallback-test-class="carousel-caption" asp-fallback-test-property="display" asp-fallback-test-value="none" />
    </environment>
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/css/navbar-blue.css" />
    <link rel="stylesheet" href="/css/jumbotron-light.css" />
    @RenderSection("styles", required: false)

</head>
<body>
    <main class="container body-content">
        @RenderBody()
    </main>

    <environment names="Development">
        <script src="/lib/jquery/jquery.js"></script>
        <script src="/lib/bootstrap/js/bootstrap.js"></script>
        <script src="/lib/hammer.js/hammer.js"></script>
        <script src="/lib/bootstrap-touch-carousel/js/bootstrap-touch-carousel.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="//ajax.aspnetcdn.com/ajax/jquery/jquery-2.1.4.min.js"
                asp-fallback-src="/lib/jquery/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="/lib/bootstrap/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/hammer.js/2.0.4/hammer.min.js"
                asp-fallback-src="/lib/hammer.js/hammer.js"
                asp-fallback-test="window.Hammer">
        </script>
        <script src="//ajax.aspnetcdn.com/ajax/bootstrap-touch-carousel/0.8.0/js/bootstrap-touch-carousel.js"
                asp-fallback-src="/lib/bootstrap-touch-carousel/js/bootstrap-touch-carousel.js"
                asp-fallback-test="window.Zepto">
        </script>
    </environment>

    @* This enables automatic client side conversion of any <date> tags on the page *@
    <script src="/js/timeconversion.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>