@using UMD.Pagination

@model PaginationViewModel

@if (Model.PaginationInfo != null) {
    Dictionary<string, string> tempDict = null;
    if (Model.ExtraRouteValues == null) {
        Model.ExtraRouteValues = new Dictionary<string, string>();
    }
    Model.ExtraRouteValues["ResultsPerPage"] = Model.PaginationInfo.ResultsPerPage.ToString();

    @* Next/Previous Page links *@
    <nav style="text-align: center;">
        <ul class="pager">
            @if (Model.PaginationInfo.PageNumber > 1) {
                <li class="previous">
                    @{
                        tempDict = new Dictionary<string, string>(Model.ExtraRouteValues);
                        tempDict["PageNumber"] = (Model.PaginationInfo.PageNumber - 1).ToString();
                    }
                    <a asp-all-route-data="@tempDict" aria-label="Previous">
                        <span aria-hidden="true">&laquo; Previous</span>
                    </a>
                </li>
                        }
            @if (Model.PaginationInfo.PageNumber < Model.PaginationInfo.PageCount) {
                <li class="next">
                    @{
                        tempDict = new Dictionary<string, string>(Model.ExtraRouteValues);
                        tempDict["PageNumber"] = (Model.PaginationInfo.PageNumber + 1).ToString();
                    }
                    <a asp-all-route-data="@tempDict" aria-label="Next">
                        <span aria-hidden="true">&raquo; Next</span>
                    </a>
                </li>
                        }
        </ul>
    </nav>
    @* Page Numbers *@
    <nav style="text-align: center;">
        <ul class="pagination">
            <li class="@(Model.PaginationInfo.PageNumber == 1 ? "active" : "" )">
                @{
                    tempDict = new Dictionary<string, string>(Model.ExtraRouteValues);
                    tempDict["PageNumber"] = "1";
                }
                <a asp-all-route-data="@tempDict">1</a>
            </li>
            @* Display a floating group of 5 continuous numbers surrounding the selected page *@
            @* If there is a gap between the floating group and the first page, show a '...' *@
            @if ((Model.PaginationInfo.PageNumber - 3) > 1) {
                <li class="disabled">
                    <span>...</span>
                </li>
            }
            @{
                int floatingPageCenter = Model.PaginationInfo.PageNumber ?? 3;
            }
            @{bool lastPageHit = false;}
            @for (int i = -2; i <= 2; i++) {
                int floatingPageNum = floatingPageCenter + i;

                @* Only render a number if it's inside the page range *@
                if (floatingPageNum > 1 && floatingPageNum <= Model.PaginationInfo.PageCount) {
                        <li class="@(floatingPageNum == Model.PaginationInfo.PageNumber ? "active" : "" )">
                            @{
                                tempDict = new Dictionary<string, string>(Model.ExtraRouteValues);
                                tempDict["PageNumber"] = floatingPageNum.ToString();
                            }
                            <a asp-all-route-data="@tempDict">@floatingPageNum</a>
                        </li>
                                        if (floatingPageNum == Model.PaginationInfo.PageCount) {
                                            lastPageHit = true;
                                        }
                                    }
                                }
            @* If there is a gap between the floating group and the last page, show a '...' *@
            @if (!lastPageHit && (Model.PaginationInfo.PageNumber + 3) < Model.PaginationInfo.PageCount) {
                <li class="disabled">
                    <span>...</span>
                </li>
            }
            @if (!lastPageHit && Model.PaginationInfo.PageCount > 5) {
                <li class="@(Model.PaginationInfo.PageCount == Model.PaginationInfo.PageNumber ? "active" : "" )">
                    @{
                        tempDict = new Dictionary<string, string>(Model.ExtraRouteValues);
                        tempDict["PageNumber"] = Model.PaginationInfo.PageCount.ToString();
                    }
                    <a asp-all-route-data="@tempDict">@(Model.PaginationInfo.PageCount)</a>
                </li>
            }
        </ul>
    </nav>
}
