﻿<div class="jumbotron">
    <h1>400 - Bad Request</h1>
    <p class="lead">The request was invalid or malformed, please try again</p>
    <br />
	<a href="/" class="btn btn-default btn-large">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Home
	</a>
</div>
