﻿<div class="jumbotron">
    <h1>Error</h1>
        <p class="lead">An error occurred while processing your request.</p>
        <p class="lead">We're working on a fix.</p>
    <br />
	<a href="/" class="btn btn-default btn-large">
		<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Home
	</a>
</div>
    <p>Error info:</p>
    <p id="errorMessage"></p>
