﻿.sidenav {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #e0e0e0;
    overflow-x: hidden;
    transition: 0.5s;
    margin-left: 70px;
    margin-top: 50px;
}

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

        .sidenav a:hover, .offcanvas a:focus {
            color: black;
        }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

.sideBar-Row {
    height: 65px;
    padding: 15px 0px;
    font-size: 30px;
    overflow: hidden;
    width: 100%;
    vertical-align: middle;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

#sideBar {
    background-color: #008bfd; /*Change base on theme*/
    margin-left: 0px;
    z-index: 3;
}

a.sideBar-Row {
    padding: 22px 0px;
    font-size: 30px;
}

.sideBar-Row:hover {
    background-color: #e0e0e0;
}

/* for labels in the application sidebar */
.sideBar-Label {
    overflow: no-display;
    height: 30px;
    color: #fff;
}

/* for icons in the application sidebar */
.sideBar-Icon {
    text-align: center;
    width: 70px;
    color: #fff;
}

.label-minimised, .filter-minimised {
    visibility: collapse;
    width: 0px;
}

.label-expanded, .filter-expanded {
    visibility: visible;
    width: 250px;
}

.sideBar-expanded {
    width: 320px;
}

.sideBar-minimised {
    width: 70px;
}

.content-expanded {
    margin-left: 70px;
}

.content-shrunk {
    margin-left: 320px;
}

div.sideBar-Row a {
    padding: 0px;
    transition: 0.3s;
}
