﻿/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Make sort arrow glyphicons a bit smaller */
.sort-icon {
    font-size: 10px;
}

/* Monospace font styling copied from bootstrap */
.monospaced {
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

/* DON'T set widths on the form inputs since otherwise they're 100% wide
input,
select,
textarea {
    max-width: 280px;
}
*/

/* Utility class for animating glyphicons with a spin */
.glyphicon.glyphicon-animate-spin {
    -webkit-animation: glyphicon-spin 1s infinite linear;
    animation: glyphicon-spin 1s infinite linear;
}

.navbar-right {
    margin-right: 0px;
}

@-webkit-keyframes glyphicon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes glyphicon-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

/* key value pair layout */

@media (min-device-width: 481px) {
    .key-value-pairs {
        display: table;
        width: 100%;
        border-collapse: separate;
        border-spacing: 10px 0px;
        padding-left: 5px;
        padding-right: 5px;
    }

    .key-value-headers,
    .key-value-row {
        display: table-row;
    }

    .key-value-row > form {
        display: table-row-group;
    }

    .key-value-headers .key-value-header,
    .key-value-row .key-value-row-key,
    .key-value-row .key-value-row-value,
    .key-value-row .key-value-row-actions {
        display: table-cell;
        vertical-align: top;
    }

    .key-value-row .key-value-row-key,
    .key-value-row .key-value-row-value {
        padding-right: 5px;
    }

    .key-value-row .key-value-row-key label,
    .key-value-row .key-value-row-value label {
        display: none;
    }

    .key-value-row .key-value-row-value {
        width: 50%;
    }

    .key-value-row .key-value-row-actions {
        width: 68px;
    }

    .key-value-hidden {
        display: none;
    }
}
@media (max-device-width: 480px) {
    .key-value-headers {
        display: none;
    }
    .key-value-row {
        margin-bottom: 15px;
        overflow: hidden;
    }
    .key-value-row-actions {
        margin-top: 5px;
        float: right;
    }
    .key-value-row-value {
        margin-top: 5px;
    }
}
/*Code which modified the default behavior of the hover activity*/
.table-hover tr.table-row {
    cursor: pointer;
}
.table-hover tr.table-row:hover{
    background-color:lightblue;
}

input:focus {
    background-color: yellow;
}